@charset "UTF-8";

body {
	background-image: url(bg_moon_sky_mikaduki.jpg);
	background-color: #f0fffa;
}

table {
	margin: auto;
	color: #ffffff;
}

td {
	text-align: center;
	width: 200px;
	height: 50px;
	font-size: 200%;
	color: #ffff00;
}

th {
	text-align: center;
	padding: 10px;
	font-weight: bold;
	font-size: 100%;
}

a {
	color: #ffffff;
}

footer{
/*フッターの背景色を指定*/
background-color: black;
/*中央揃えにする*/
text-align: center;
/*文字色を白にする*/
color: #FFFFFF;
/*上下に余白をつけてフッターの太さを調整する*/
padding: 15px 0;
}
