<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" href="/index.css">
</head>
<body>

	<h1 style="text-align: center;">ログイン</h1>
	<form action="/login" method="post">
		<span th:text="${message}" style="color: red"></span> <br>
		メールアドレス<input type="text" name="email" /> <br> パスワード<input
			type="password" name="password" /> <br> <input type="submit"
			value="ログイン">
	</form>
	<a href="/signup">新規会員登録</a>
</body>
</html>