<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>

<style>
	table{
	background-color: white;
		margin: auto;
		
	}
</style>
<link rel="stylesheet" href="/items.css">
</head>
<body>
	<!-- <form action="/search" method="get">
		商品を検索  <label> <input type="text" name="searchWord"
			placeholder="商品を検索">
		</label> <input type="submit" value="検索" />
		<!-- <input type="hidden" name="sort" th:value="${sort}" /> -->
		<br>
		
		
		  <a
			href="myPage">　マイページ　</a>
			<a href="buy">　購入する　</a>
			<a href="/addCart">　カート一覧はこちら　</a> 
	

	<h1>商品一覧</h1>
	<form action="/search" method="get" style="text-align: center;">
		商品を検索  <label> <input type="text" name="searchWord"
			placeholder="商品を検索">
		</label> <input type="submit" value="検索" />
		</form>
	<table border="1" >
		<tr>
			
			<th>商品名</th>
			<th>値段（円）</th>
			<th></th>
			
			<!-- <th>見本</th> -->
			
		</tr>
		<tr th:each="item:${items}">
			
			<td>
				<a th:href="|/items/${item.id}|" th:text="${item.name}"></a>
			</td>
			<td th:text="${item.price} + 円"></td>
			<!--<td><img th:src="|/${items.image}|" width="100" height="100" /></td> -->
			<td><a th:href="|/cart/add/${item.id}|">カートに
			<br>追加する</a></td>
		</tr>

	</table>
	<hr>
	<p style="text-align: center;">
	<a href="/logout">ログアウト</a>

</body>
</html>