<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細</title>
<link rel="stylesheet" href="/itemDetail.css">
</head>
<body>
<a href="/allItem">商品一覧へ戻る</a> 

<br>
<br>
<br>
<br>
<br>
<br>
<br>

	<table>
		<tr>

			<th>商品名</th>
			<th>値段（円）</th>
			<th></th>
		</tr>
		<tr>
			<td th:text="${item.name}"></td>
			<td th:text="${item.price} + 円"></td>
			<td><img th:src="|/${item.image}|" width="300" height="300" /></td>
			<td><a th:href="|/cart/add/${item.id}|">カートに追加
			</a></td>
		</tr>
		
	</table>
	<hr>
	<footer>
	<p>&copy;UeokaShopping2022</p>
</footer>

</body>
</html>