<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規会員登録</title>
<link rel="stylesheet" href="/signup.css">
</head>
<body>
	
	<h1>新規会員登録</h1>
	<p th:text="${message}" style="color: red"></p>
	<form action="/signup" method="post" class="form_center">
		<table>
			<tr>
				<th>ユーザー名</th>
				<td><input type="text" name="userName"></td>
			</tr>
			<tr>
				<th>名前</th>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
			<th>住所</th>
			<td>
			<select name="prefecture" style="width: 68%;">
				<option th:each="str:${prefecture}" th:value="${str}" th:text="${str}"></option>
				
			</select>
			<input type="text" name="address"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><input type="text" name="email"></td>
			</tr>
			<tr>
			<th>電話番号</th>
			<td><input type="text" name="tell"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="text" name="password"></td>
			</tr>
		</table>
		<input type="submit" value="登録">
		<br>
		<div>
		<a href="/loginA">会員の方はこちら</a>
		</div>

	</form>


</body>
</html>